name: ci

on:
  push:
    branches: [ main, release-* ]
    tags:
      'v*'
  pull_request:
    branches: [ main ]

jobs:
  # This is a super hacky way to get this into a place that can actually be
  # used by downstream jobs because YAML values don't allow shell
  # interpolation, only github expression interpolation
  run-info:
    name: Gather Run Info
    runs-on: ubuntu-latest
    outputs:
      sha8: ${{ steps.calc-info.outputs.sha8 }}
      isRelease: ${{ steps.calc-info.outputs.isRelease }}
      signRelease: ${{ steps.calc-info.outputs.signRelease }}
    steps:
      - name: CheckRun Info
        env:
          CERT: ${{secrets.MACOS_CERT}}
        id: calc-info
        run: |
          SIGN="false"
          RELEASE="false"
          if [[ "$GITHUB_REF" == *"tags/v" || "$GITHUB_REF" == *"refs/heads/release" ]]; then
              RELEASE="true"
              NAME="$GITHUB_REF_NAME"
          fi
          if [[ "$CERT" != "" ]]; then
              SIGN="true"
          fi
          if [[ "$NAME" == "" ]]; then
              NAME="continuous"
          fi
          echo "::set-output name=signRelease::$SIGN"
          echo "::set-output name=sha8::$NAME"

  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    needs: run-info
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
         name: "Linux-Qt5"
            , os: ubuntu-18.04
            , QT_VERSION: 5.15.2 , QT_INST_DIR: /opt
            , QT_STRING: "Qt5"
            , extraCMakeConfig: "-DCMAKE_INSTALL_PREFIX=/usr -DQT_DEFAULT_MAJOR_VERSION=5"
          }
        - {
            name: "Linux-Qt6"
            , os: ubuntu-20.04
            , QT_VERSION: 6.2.4, QT_INST_DIR: /opt
            , QT_STRING: "Qt6"
            , extraCMakeConfig: "-DCMAKE_INSTALL_PREFIX=/usr -DQT_DEFAULT_MAJOR_VERSION=6"
            , linuxDeployQtPath: "export PATH=$PATH:/opt/Qt/6.2.4/gcc_64/libexec"
          }
        - {
            name: "Mac-Qt5"
            , os: macos-latest
            , QT_VERSION: 5.15.2 , QT_INST_DIR: /Users/runner
            , QT_STRING: "Qt5"
            , extraCMakeConfig: "-DQT_DEFAULT_MAJOR_VERSION=5 -DNOTARIZE_AS=\"John Kennedy\""
          }
        - {
            name: "Mac-Qt6"
            , os: macos-latest
            , QT_VERSION: 6.2.4 , QT_INST_DIR: /Users/runner
            , QT_STRING: "Qt6"
            , extraCMakeConfig: "-DQT_DEFAULT_MAJOR_VERSION=6 -DNOTARIZE_AS=\"John Kennedy\""
          }
        - {
            name: "Windows-Qt5", WIN_ARCH: "x64"
            , os: windows-2019
            , QT_VERSION: 5.15.2, QT_INST_DIR: "C:/", QTDIR: "C:/Qt/5.15.2/msvc2019_64", QT_ARCH: win64_msvc2019_64
            , QT_STRING: "Qt5"
            , extraCMakeConfig: "-G Ninja -DQT_DEFAULT_MAJOR_VERSION=5"
            , buildTarget: "--target package"
          }
        - {
            name: "Windows-Qt6", WIN_ARCH: "x64"
            , os: windows-2019
            , QT_VERSION: 6.2.4, QT_INST_DIR: "C:/", QTDIR: "C:/Qt/6.2.4/msvc2019_64", QT_ARCH: win64_msvc2019_64
            , QT_STRING: "Qt6"
            , extraCMakeConfig: "-G Ninja -DQT_DEFAULT_MAJOR_VERSION=6"
            , buildTarget: "--target package"
          }
    steps:
    - name: Setup env
      shell: bash
      run: |
        echo "name=ashirt-${{ needs.run-info.outputs.sha8 }}-${{matrix.config.QT_STRING}}-$RUNNER_OS" >> $GITHUB_ENV
        echo "githash=${{ needs.run-info.outputs.sha8 }}" >> $GITHUB_ENV
        echo "signRelease=${{ needs.run-info.outputs.signRelease }}" >> $GITHUB_ENV

    - name: Check out code
      uses: actions/checkout@v3
      with:
        submodules: true
        fetch-depth: 0
    - run: git fetch --tags --force

    - name: Cache Qt
      id: cache-qt
      uses: actions/cache@v3.0.2
      with:
        path: ${{matrix.config.QT_INST_DIR}}/Qt
        key: ${{ runner.os }}${{ matrix.config.WIN_ARCH }}-qt-${{ matrix.config.QT_VERSION }}

    - name: Env Script (Windows)
      uses: ilammy/msvc-dev-cmd@v1
      if: runner.os == 'Windows'
      with:
        arch: ${{matrix.config.WIN_ARCH}}

    - name: Import Code-Signing Certificates
      if: runner.os == 'macOS' && env.signRelease == 'true'
      uses: Apple-Actions/import-codesign-certs@v1.0.4
      with:
        p12-file-base64: ${{ secrets.MACOS_CERT }}
        p12-password: ${{ secrets.MACOS_PASS }}

    - name: Install Qt
      uses: jurplel/install-qt-action@v2.14.0
      with:
       aqtversion: ==2.0.0
       py7zrversion: ==0.16.2
       dir: ${{matrix.config.QT_INST_DIR}}
       arch: ${{ matrix.config.QT_ARCH }}
       version: ${{ matrix.config.QT_VERSION }}
       cached: ${{ steps.cache-qt.outputs.cache-hit }}

    - name: Install Dependencies
      shell: bash
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt-get update > /dev/null && sudo apt-get install -qqq libxcb-keysyms1-dev libxkbcommon-dev > /dev/null
        elif [ "$RUNNER_OS" == "Windows" ]; then
            choco install ninja --ignore-checksums
        fi

    - name: Build
      shell: bash
      run: |
        cmake -DCMAKE_BUILD_TYPE=Release -DCPACK_PACKAGE_VERSION=${{env.githash}} ${{matrix.config.extraCMakeConfig}}
        cmake --build . ${{ matrix.config.buildTarget }}
        mkdir -p dist
        if [ "$RUNNER_OS" == "Linux" ]; then
            wget -qc "https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage"
            wget -qc "https://github.com/linuxdeploy/linuxdeploy-plugin-qt/releases/download/continuous/linuxdeploy-plugin-qt-x86_64.AppImage"
            chmod a+x linuxdeploy*.AppImage
            export VERSION=${{ env.githash }}-${{ matrix.config.QT_STRING }}
            ${{matrix.config.linuxDeployQtPath}}
            ./linuxdeploy-x86_64.AppImage --appdir=appdir  --output appimage \
                -e ashirt \
                -d deploy/ashirt.desktop \
                -i deploy/hicolor/128x128/apps/ashirt.png \
                --plugin=qt
        elif [ "$RUNNER_OS" == "macOS" ]; then
            macdeployqt ashirt.app -dmg
            mv ashirt.dmg ${{env.name}}.dmg
            if [ "${{ env.signRelease }}" == "true" ]; then
                brew tap mitchellh/gon
                brew install mitchellh/gon/gon jq
                echo "${{ secrets.GON_CONF }}" | base64 -D -i - > notarize.json
                env ID="${{ env.name }}.dmg" cat gon.json |jq '.notarize[0].path = env.ID'
                gon notarize.json
            fi
        fi
        mv ashirt-*.* dist/

    - name: Archive production artifacts
      uses: actions/upload-artifact@v3
      with:
        name: ashirt-${{env.githash}}
        path: dist/ashirt-*.*

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Download Files
      uses: actions/download-artifact@v3

    - name: Deploy Continuous
      if: github.ref == 'refs/heads/master'
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
       repo_token: "${{ secrets.GITHUB_TOKEN }}"
       automatic_release_tag: "continuous"
       prerelease: false
       title: "Continuous Build"
       files: dist/ashirt-*.*

    - name: Deploy Tag
      if: needs.run-info.outputs.isRelease == 'true'
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
       repo_token: "${{ secrets.GITHUB_TOKEN }}"
       automatic_release_tag: ${{ github.ref }}
       prerelease: false
       title: ${{ github.ref }}
       files: dist/ashirt-*.*
